<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LibraryDB" connectionString="data source=DESKTOP-RTMN4HO\SQL2019;initial catalog=Libarary;user id=sa;password=01126920859;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
 
</configuration>